<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/regisetr.css">
    <title>注册</title>
</head>
<body>
    <div class="warp">
        <div class="login-head">
            <h1>Register Form</h1>			
        </div>
        <form>
			<li>
				<input type="text" class="text" value="username" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Username';}"><a href="#" class=" icon user"></a>
			</li>
				<div class="clear"></div>
			<li>
				<input type="password" value="password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}"> <a href="#" class="icon lock"></a>
			</li>
			<div class="clear"> </div>
			<li>
				<input type="email" value="9834461@qq.com" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '9834461@qq.com';}"> <a href="#"></a>
			</li>
			<div class="clear"> </div>
			<div class="submit">
				<input type="submit" onclick="myFunction()" value="Create in" >
						  <div class="clear">  </div>	
			</div>	
		</form>
    </div>
</body>
</html>